.timer-buttons
  &.started
    button
      &.start, &.reset
        display: none
      &.stop, &.lap
        display: inline-block
  &.stopped
    button
      &.start, &.reset
        display: inline-block
      &.stop, &.lap
        display: none