.timer-buttons
  display: flex
  border-radius: 0 0 5px 5px
  button
    &.start, &.stop
      border-radius: 0 0 0 5px
    &.reset, &.lap
      border-radius: 0 0 5px 0
  &.started
    button
      &.start, &.reset
        display: none
      &.stop, &.lap
        display: block
  &.stopped
    button
      &.start, &.reset
        display: block
      &.stop, &.lap
        display: none

  button
    flex-grow: 1
    height: 40px
    font-size: 16px
    background: #C0C9C2
    border: 0
    outline: 0
    color: #2e4d36