.laps
  position: relative
  z-index: 1
  background: #57705E
  border-radius: 0 0 5px 5px
  box-shadow: 0 8px 20px -5px #17261B
  padding: 20px
  display: none
  &.lap-set
    display: block

  table
    width: 100%
    margin: 0

  td
    font-family: 'Roboto Mono'
    color: #f9f5f8
    font-size: 20px
    width: 120px
    text-align: right
    padding: 1px 0
    &:first-of-type
      width: 26px
    &:last-of-type
      width: 121px
    &.split
      text-align: right
    &.negative
      color: #96a69a